In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv(r'C:\Users\Vusal\testanaconda\Credit Default Dataset.csv')

In [5]:
df

,age,number_dependent_family_members,monthly_income,number_of_credit_lines,real_estate_loans,ratio_debt_payment_to_income,credit_line_utilization,number_of_previous_late_payments_up_to_59_days,number_of_previous_late_payments_up_to_89_days,number_of_previous_late_payments_90_days_or_more,defaulted_on_loan
0,66.0,NaN,4000.0,NaN,1.0,0.569108,0.054887669,0.0,0.0,0.0,0
1,61.0,2.0,4000.0,6.0,1.0,0.297176,0.101949911,0.0,0.0,0.0,0
2,31.0,2.0,3040.0,8.0,0.0,0.160145,1.22713507,4.0,0.0,0.0,1
3,54.0,4.0,10218.0,5.0,0.0,0.067913,0.083277779,0.0,0.0,0.0,0
4,29.0,0.0,4468.0,6.0,0.0,0.328261,0.317445504,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
72156,70.0,0.0,9584.0,13.0,3.0,0.429943,0.145213501,1.0,0.0,0.0,0
72157,51.0,NaN,6374.0,15.0,2.0,0.667608,0.445703733,0.0,0.0,0.0,0
72158,58.0,0.0,4333.0,NaN,1.0,0.413475,0.048434473,0.0,0.0,0.0,0
72159,58.0,2.0,6466.0,14.0,2.0,0.420288,0.447265776,0.0,0.0,0.0,0
72160,50.0,0.0,7500.0,10.0,1.0,0.304626,0.873708764,2.0,3.0,0.0,0

In [6]:
x = df[['number_of_previous_late_payments_90_days_or_more','defaulted_on_loan']]

In [7]:
x

       number_of_previous_late_payments_90_days_or_more  defaulted_on_loan
0                                                   0.0                  0
1                                                   0.0                  0
2                                                   0.0                  1
3                                                   0.0                  0
4                                                   0.0                  0
...                                                 ...                ...
72156                                               0.0                  0
72157                                               0.0                  0
72158                                               0.0                  0
72159                                               0.0                  0
72160                                               0.0                  0

[72161 rows x 2 columns]

In [10]:
x[x['defaulted_on_loan'] == 1]['number_of_previous_late_payments_90_days_or_more']

2        0.0
20       0.0
30       0.0
44       2.0
65       0.0
        ...
72070    3.0
72086    0.0
72120    1.0
72129    0.0
72138    0.0
Name: number_of_previous_late_payments_90_days_or_more, Length: 5013, dtype: float64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72161 entries, 0 to 72160
Data columns (total 11 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   age                                               65017 non-null  float64
 1   number_dependent_family_members                   67945 non-null  float64
 2   monthly_income                                    66145 non-null  float64
 3   number_of_credit_lines                            66007 non-null  float64
 4   real_estate_loans                                 68355 non-null  float64
 5   ratio_debt_payment_to_income                      66553 non-null  float64
 6   credit_line_utilization                           65815 non-null  object
 7   number_of_previous_late_payments_up_to_59_days    67966 non-null  float64
 8   number_of_previous_late_payments_up_to_89_days    66316 non-null  float64
 9   number_of_previous_late_payments_90_days_or_more  68540 non-null  float64
 10  defaulted_on_loan                                 72161 non-null  int64
dtypes: float64(9), int64(1), object(1)
memory usage: 6.1+ MB

In [12]:
df['credit_line_utilization'] = df['credit_line_utilization'].str.replace(',','').astype(float)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72161 entries, 0 to 72160
Data columns (total 11 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   age                                               65017 non-null  float64
 1   number_dependent_family_members                   67945 non-null  float64
 2   monthly_income                                    66145 non-null  float64
 3   number_of_credit_lines                            66007 non-null  float64
 4   real_estate_loans                                 68355 non-null  float64
 5   ratio_debt_payment_to_income                      66553 non-null  float64
 6   credit_line_utilization                           65815 non-null  float64
 7   number_of_previous_late_payments_up_to_59_days    67966 non-null  float64
 8   number_of_previous_late_payments_up_to_89_days    66316 non-null  float64
 9   number_of_previous_late_payments_90_days_or_more  68540 non-null  float64
 10  defaulted_on_loan                                 72161 non-null  int64
dtypes: float64(10), int64(1)
memory usage: 6.1 MB

In [17]:
X = df.drop(columns = 'defaulted_on_loan', axis = 1)

In [18]:
y = df['defaulted_on_loan']

In [19]:
# OUTLIER CLEANING

In [20]:
X.isna().sum()

age                                                 7144
number_dependent_family_members                     4216
monthly_income                                      6016
number_of_credit_lines                              6154
real_estate_loans                                   3806
ratio_debt_payment_to_income                        5608
credit_line_utilization                             6346
number_of_previous_late_payments_up_to_59_days      4195
number_of_previous_late_payments_up_to_89_days      5845
number_of_previous_late_payments_90_days_or_more    3621
dtype: int64

In [21]:
X_zscore = (X-X.mean())/X.std()

In [22]:
X_zscore

,age,number_dependent_family_members,monthly_income,number_of_credit_lines,real_estate_loans,ratio_debt_payment_to_income,credit_line_utilization,number_of_previous_late_payments_up_to_59_days,number_of_previous_late_payments_up_to_89_days,number_of_previous_late_payments_90_days_or_more
0,1.013650,NaN,-0.241962,NaN,-0.045132,-0.065009,-0.149138,-0.106907,-0.055752,-0.061649
1,0.666773,1.007826,-0.241962,-0.530163,-0.045132,-0.065690,-0.149138,-0.106907,-0.055752,-0.061649
2,-1.414488,1.007826,-0.330471,-0.145456,-0.942460,-0.066033,-0.149138,0.979847,-0.055752,-0.061649
3,0.181145,2.756020,0.331321,-0.722516,-0.942460,-0.066264,-0.149138,-0.106907,-0.055752,-0.061649
4,-1.553239,-0.740368,-0.198813,-0.530163,-0.942460,-0.065612,-0.149138,-0.106907,-0.055752,-0.061649
...,...,...,...,...,...,...,...,...,...,...
72156,1.291151,-0.740368,0.272868,0.816310,1.749523,-0.065357,-0.149138,0.164782,-0.055752,-0.061649
72157,-0.026981,NaN,-0.023085,1.201016,0.852195,-0.064762,-0.149138,-0.106907,-0.055752,-0.061649
72158,0.458647,-0.740368,-0.211260,NaN,-0.045132,-0.065398,-0.149138,-0.106907,-0.055752,-0.061649
72159,0.458647,1.007826,-0.014603,1.008663,0.852195,-0.065381,-0.149138,-0.106907,-0.055752,-0.061649
72160,-0.096356,-0.740368,0.080729,0.239250,-0.045132,-0.065671,-0.149138,0.436470,0.755879,-0.061649

In [25]:
for col in X.columns:
    zscore_col = col + '_zscore'
    X[zscore_col] = X_zscore[col]

In [27]:
def replace_outliers_with_nan():
    for col in X.columns[:10]:
        zscore_col = col + '_zscore'
        X.loc[((X[zscore_col] > 3)| (X[zscore_col] < -3)), col] = np.nan

In [28]:
replace_outliers_with_nan()

In [29]:
X.columns[10:20]

Index(['age_zscore', 'number_dependent_family_members_zscore',
       'monthly_income_zscore', 'number_of_credit_lines_zscore',
       'real_estate_loans_zscore', 'ratio_debt_payment_to_income_zscore',
       'credit_line_utilization_zscore',
       'number_of_previous_late_payments_up_to_59_days_zscore',
       'number_of_previous_late_payments_up_to_89_days_zscore',
       'number_of_previous_late_payments_90_days_or_more_zscore'],
      dtype='object')

In [31]:
for col in X.columns[10:20]:
    X.drop(columns=col , axis = 1, inplace=  True)

In [32]:
X

,age,number_dependent_family_members,monthly_income,number_of_credit_lines,real_estate_loans,ratio_debt_payment_to_income,credit_line_utilization,number_of_previous_late_payments_up_to_59_days,number_of_previous_late_payments_up_to_89_days,number_of_previous_late_payments_90_days_or_more
0,66.0,NaN,4000.0,NaN,1.0,0.569108,0.054888,0.0,0.0,0.0
1,61.0,2.0,4000.0,6.0,1.0,0.297176,0.101950,0.0,0.0,0.0
2,31.0,2.0,3040.0,8.0,0.0,0.160145,1.227135,4.0,0.0,0.0
3,54.0,4.0,10218.0,5.0,0.0,0.067913,0.083278,0.0,0.0,0.0
4,29.0,0.0,4468.0,6.0,0.0,0.328261,0.317446,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
72156,70.0,0.0,9584.0,13.0,3.0,0.429943,0.145214,1.0,0.0,0.0
72157,51.0,NaN,6374.0,15.0,2.0,0.667608,0.445704,0.0,0.0,0.0
72158,58.0,0.0,4333.0,NaN,1.0,0.413475,0.048434,0.0,0.0,0.0
72159,58.0,2.0,6466.0,14.0,2.0,0.420288,0.447266,0.0,0.0,0.0
72160,50.0,0.0,7500.0,10.0,1.0,0.304626,0.873709,2.0,3.0,0.0

In [33]:
X.isna().sum()

age                                                 7175
number_dependent_family_members                     4732
monthly_income                                      6297
number_of_credit_lines                              6885
real_estate_loans                                   4509
ratio_debt_payment_to_income                        6094
credit_line_utilization                             7304
number_of_previous_late_payments_up_to_59_days      4288
number_of_previous_late_payments_up_to_89_days      5939
number_of_previous_late_payments_90_days_or_more    3722
dtype: int64

In [38]:
df['defaulted_on_loan'].value_counts(normalize = True)

0    0.93053
1    0.06947
Name: defaulted_on_loan, dtype: float64

## Train_Test split

In [34]:
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3,shuffle = True, random_state=42)

In [42]:
y_train.value_counts(normalize = True)

0    0.930452
1    0.069548
Name: defaulted_on_loan, dtype: float64

In [43]:
y_test.value_counts(normalize = True)

0    0.930713
1    0.069287
Name: defaulted_on_loan, dtype: float64

## Missing Valuee Imputation

In [44]:
from sklearn.impute import SimpleImputer

In [45]:
imputer = SimpleImputer(strategy='median')

In [46]:
columns = X.columns

In [47]:
X_train[columns] = imputer.fit_transform(X_train[columns])

In [48]:
X_train.isna().sum()

age                                                 0
number_dependent_family_members                     0
monthly_income                                      0
number_of_credit_lines                              0
real_estate_loans                                   0
ratio_debt_payment_to_income                        0
credit_line_utilization                             0
number_of_previous_late_payments_up_to_59_days      0
number_of_previous_late_payments_up_to_89_days      0
number_of_previous_late_payments_90_days_or_more    0
dtype: int64